<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REGISTRATION</title>
    <script>
        function showPassword() {
            var password = document.getElementById("password");
            var confirm_password = document.getElementById("confirm_password");
            if (password.type === "password") {
                password.type = "text";
                confirm_password.type = "text";
            } else {
                password.type = "password";
                confirm_password.type = "password";
            }
        }
    </script>
</head>
<body>
<h2>Registration</h2>
<form action="register" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter the username"><br>
    <input type="text" name="first_name" placeholder="Enter the firstname"><br>
    <input type="text" name="last_name" placeholder="Enter the lastname"><br>
    <input type="text" name="email" placeholder="Enter the email"><br>
    <input type="password" name="password" id="password" placeholder="Enter the password"><br>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password"><br>
    <input type="checkbox" onclick="showPassword()"> Show Password<br><br>
    <input type ="submit">
</form>
{% for msg in messages%}
{{msg}}
{% endfor %}
</body>
</html>
